//! Source Han Code JP
@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-ExtraLightIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-LightIt.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-Normal.otf") format("opentype");
  font-weight: 400;  // normal
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-NormalIt.otf") format("opentype");
  font-weight: 400;  // normal
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-MediumIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-Bold.otf") format("opentype");
  font-weight: 700;  // bold
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-BoldIt.otf") format("opentype");
  font-weight: 700;  // bold
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Han Code JP";
  src: local(SourceHanCodeJP),
  url("/static/fonts/source-han-code-jp/OTF/SourceHanCodeJP-HeavyIt.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap
}
